@media (max-width: 768px) {
#body-image { width: 100% !important; }
    
h1 { font-size: 23px !important; }

#loading-text { font-size: 10px !important; }

#loading-bar { width: 150px !important; }
}

#body-image {
position: absolute;
z-index: -10;
width: 90vh;
height: auto;
object-fit: cover; }

html {
font-family: "Press Start 2P", serif;
font-weight: 100;
font-style: normal; }

body {
display: flex;
justify-content: center;
align-items: center;
margin: 0;
padding: 0;
width: 100%;
overflow-x: hidden;
background-color: #2F252D;
color: #50453a; }

h1 {
text-align: center;
font-size: 28px;
padding: 0; }

#loading-container {
text-align: center;
margin-top: 30px; }

#loading-text { font-size: 13px; }

#loading-bar {
width: 250px;
height: 5px;
border: 2px solid #2F252D;
background-color: #50453a;
border-radius: 1px; 
position: relative;
margin: 10px auto; }

#loading-progress {
width: 5%;
height: 100%;
background-color: #ffab2e;
position: absolute;
top: 0;
left: 0;
transition: width 0.3s; }
